/* src/components/TextArea.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-color: #e0e0e0 transparent;
}